[submodule "bulkCropper"]
	path = bulkCropper
	url = https://github.com/Anthony-Andrews/bulkCropper.git
[submodule "labelimg_v1.8.1/labelImg"]
	path = labelimg_v1.8.1/labelImg
	url = https://github.com/HumanSignal/labelImg.git
