footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1vw;
    border-top: 5px solid black;
    text-align: center;
    display: inline-block;
  }
  
  nav {
    display: inline-block;
  }